*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 16px;
}


img {
    max-width: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size:1.5rem;
}

h1, h2 {
    color:#335576;
}

li {
    list-style-type: none;
}

a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
    cursor:default;
    
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 5em;
    background-color: #FFFFFF;
    align-items:center;
    position: fixed;
    z-index:100;
    width: 100%;
    gap: 25em;
}

.header__logo {
    color: #335576;
}

.header__logo:hover {
    color: #DB7A4E;
}

.nav ul {
    display: flex;
    justify-content: center;
    width: 35em;
    gap: 1em;
    padding-left: 10em;
}

.nav a:hover {
    color: #335576;
    padding-bottom: 0.5em;
    border-bottom: 0.2em solid #DB7A4E;
}

.nav a:active {
    padding-bottom: 0.5em;
    border-bottom: 0.2em solid #DB7A4E;
}

form input, select {
    width: 14em;
    border: none;
    border-radius: 10em;
    height: 2em;
    padding: 1em 2em;
}
button {
    width: 10em;
    padding: .5em 1em;
    border-radius: 10em;
    border: none;
    background-color: #DB7A4E;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(128, 108, 99, 0.5);
    font-weight: bold;

}

.footer {
    display: flex;
    justify-content: center;
    gap: 8em;
    align-items: center;
    height: 12em;
    background-color: #FEFAF5;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-item__info {
    display: flex;
    flex-direction: column; 
    gap: 0.5em;
}

.footer-item__subtitle {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #DB7A4E;
}

.footer-item__sub-info {
    color: #335576;
    font-size: 1rem;
}

.footer-item__grouping {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}

.footer-item__icons {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding-top: 0.5em;
}

/*figure out how to align footer-item__titles without using top paddding on footer-item__icons*/

.footer-item__icon img {
    max-height: 1.5em;
}